$black: #222222;
$white: #FFFFFF;
$gray: #DDDDDD;
$red: #FF004A;
$lightblue: #003049;
$yellow: #F9C22E;
$green: #4CAF50;
$tan: #FEE2C8;
$transparent: rgba(0, 0, 0, 0);
$semi-trans: rgba(100, 100, 100, 0.1);
$kinda-trans: rgba(100, 100, 100, 0.7);
