.button, .submit {
  border: medium solid $transparent;
  padding: 0.7em;
}

.signup {
  background: $kinda-trans;
  color: $white;
}

.input {
  background: $white;
  border: medium solid $transparent;
  color: $black;
  font-family: $sans;
  font-size: 100%;
  outline: none;
  padding: 0.7em;
}

.submit {
  background: $red;
  color: $white;
}

.moreinfo {
  background: $lightblue;
}

.success {
  padding-left:1.7em;
  background: $transparent;
}

.button:hover {
  background: $white;
  color: $black;
}
