.button, .submit {
  border: medium solid $transparent;
  padding: 0.7em;
  margin: 0.7em;
  font-size: 1.2rem;
}

.signup {
  background: $red;
  color: $white;
}

.register {
  background: $white;
}

.input {
  background: $white;
  border: medium solid $transparent;
  color: $black;
  font-family: $sans;
  font-size: 100%;
   font-size: 1.2rem;
  outline: none;
  padding: 0.7em;
}

.submit {
  background: $red;
  color: $white;
}

.moreinfo {
  background: $lightblue;
  color: $white;
}

.success {
  background: $transparent;
  padding-left: 1.7em;
}

.button:hover {
  background: $white;
  color: $black;
}

@media (max-width: 970px) {
  .button {
    padding: 0.5em;
  }

  .input {
    max-width: 5.5em;
    padding: 0.5em;
  }
}
