@import 'base';


.landing {
  color: $white;
  font-family: $cabin;
}

.header {
  position: relative;
  background: rgba(0, 0, 0, 0);
  height: 20%;
}

h1.landing {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 5.2rem;
  font-weight: 700;
  z-index: 3;
  text-transform: uppercase;
}

h1.info {
  float: right;
  left: 55%;
  width: 45%;
  font-size: 3.7rem;
  font-weight: 700;
  z-index: 3;
  text-transform: uppercase;
  line-height: 3.6rem;
}

p.info {
  float: left;
  left: 15%;
  width: 35%;
  font-size: 1.7rem;
  font-weight: 500;
  z-index: 3;
  text-align: right;
  line-height: 1.9rem;
}

h1.info,
p.info {
  position: absolute;
  top: 15%;
  color: $gray;
}

p.schedule, h2.schedule {
  position: absolute;
  top: 15%;
  color: $black;
}

h2.schedule {
  float: left;
  left: 15%;
  width: 35%;
  font-size: 2.5rem;
  font-weight: 500;
  z-index: 3;
  text-transform: uppercase;
  line-height: 2.6rem;
  text-align: right;
  margin-bottom: 5rem;
}

em {
  font-size: 3.1rem;
  font-weight: 700;
}

p.schedule {
  float: right;
  left: 55%;
  width: 35%;
  font-size: 1.7rem;
  font-weight: 600;
  z-index: 3;
  text-align: left;
  line-height: 2.0rem
}

.banner_contain {
  top: 3.5em;
  width: 100%;
  // background-color: $yellow;
  z-index: 3;
  height: 50%;
}

h2.landing {
  margin: 0;
  padding: 0;
  font-size: 2.1rem;
  text-align: justify;
  color: $black;
}

h3.landing {
  font-size: 1.121em;
  line-height: 1.121em;
  margin: 0;
  padding: 0;
  margin-top: 1em;
  padding-bottom: 1rem;
  color: $lightblue;
}

div.landing {
  color: $white;
  height: 5em;
  line-height: 3.2em;
  margin: 0 auto;
  padding: 1.5em;
  width: 50%;
}



.page {
  // background-image: url('http://cdn.makeagif.com/media/12-27-2015/_3qgDB.gif');
  height: 100%;
  position: relative;
  width: 100%;
  // z-index: 1;
}

.footer {
  height: 7.5%;
  position: relative;
  width: 100%;
  background-color: $tan;
  text-align: center;
}

.page-landing {
  // background-image: url('http://i.imgur.com/mei5DgU.jpg');
  background: linear-gradient(rgba(255, 86, 102, .5), rgba(249, 219, 189, .5)), url("/img/main.jpg");
}

.page-landing-0 {
  // background-image: url('http://i.imgur.com/mei5DgU.jpg');
  background: $lightblue;
}

.page-landing-1 {
  // background-image: url('http://i.imgur.com/mei5DgU.jpg');
  background: $green;
}

.page-landing-2 {
  // background-image: url('http://i.imgur.com/mei5DgU.jpg');
  background: $red;
}
.page-landing-3 {
  // background-image: url('http://i.imgur.com/mei5DgU.jpg');
  background: $lightblue;
}
.page-info {
  background-color: $lightblue;
}

.page-schedule {
  background-color: $yellow;
}

.transparent {
  background-color: $semi-trans;
  height: 100%;
  position: relative;
  width: 100%;
}

.popup {
  background-color: $black-transp;
  height: 100%;
  position: relative;
  width: 100%;
}

.popup-content {
  background-color: $seagreen;
  width: 70%;
  height: 50%;
  margin: 0 auto;
}

.content-landing {
  position: relative;
  margin-top: 30%;
}
.hype-text{
  position: absolute;
  bottom: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white;
  margin: 0;
  font: 14px Sans-Serif;
  // background: rgba(255, 255, 255, 0.75);
  // color: black;
}

.showcase {
  height: 250px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  overflow: hidden;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
}
.welcome-text {
  margin-top: 20px;
  margin-left: 5%;
  float: left;
  height: 230px;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
}

.hype {
  background: url("/img/hype.jpg");
  width: 100%;
  height: 250px;
  float: right;
  background-size: cover;
  position: relative;
}

.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-left {
  border-top: solid;
  border-color: white;
  border-width: 5px;
  box-sizing: border-box;
  width: 20%;
  height: 80%;
  margin: 0;
  padding: 0;
  top: 10%;
  left: 10%;
  position: absolute;
  // z-index: 1;
}

.border-right {
  border-top: solid;
  border-color: white;
  border-width: 5px;
  box-sizing: border-box;
  width: 20%;
  height: 80%;
  margin: 0;
  padding: 0;
  top: 10%;
  right: 10%;
  position: absolute;
  // z-index: 1;
}

.border-right-2 {
  border-right: solid;
  border-color: $transparent;
  border-width: 5px;
  box-sizing: border-box;
  width: 0%;
  height: 60%;
  margin: 0;
  padding: 0;
  top: 20%;
  right: 0%;
  position: absolute;
  z-index: 6;
}

.border-u {
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  border-color: white;
  border-width: 5px;
  box-sizing: border-box;
  width: 80%;
  height: 80%;
  margin: 0;
  padding: 0;
  top: 10%;
  left: 10%;
  position: absolute;
  z-index: 0;
}

.half-globe {
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 0;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform: translateX(+50%) translateY(+50%);
  // z-index: 2;
  animation: globe-rotate 8s infinite linear;
}

.plane {
  position: absolute;
  width: 15%;
  transform: translateX(+50%) translateY(+50%) scaleX(-1);
  // z-index: 2;
  bottom: 20%;
  right: 5%;
  animation: plane-fly 4s infinite step-end;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

@keyframes globe-rotate {
  0% {
    -ms-transform: rotate(360deg); // IE 9
    -webkit-transform: translateX(+50%) translateY(+50%) rotate(360deg); // Chrome, Safari, Opera
    transform: translateX(+50%) translateY(+50%) rotate(360deg);
  }
  25% {
    -ms-transform: rotate(480deg); // IE 9
    -webkit-transform: translateX(+50%) translateY(+50%) rotate(480deg); // Chrome, Safari, Opera
    transform: translateX(+50%) translateY(+50%) rotate(480deg);
  }
  75% {
    -ms-transform: rotate(600deg); // IE 9
    -webkit-transform: translateX(+50%) translateY(+50%) rotate(600deg); // Chrome, Safari, Opera
    transform: translateX(+50%) translateY(+50%) rotate(600deg);
  }
  100% {
    -ms-transform: rotate(720deg); // IE 9
    -webkit-transform: translateX(+50%) translateY(+50%) rotate(720deg); // Chrome, Safari, Opera
    transform: translateX(+50%) translateY(+50%) rotate(720deg);
  }
}

@keyframes plane-fly {
  0% {
    right: 5%;
    bottom: 0%;
    -ms-transform: rotate(-45deg); // IE 9
    -webkit-transform: scaleX(-1) rotate(-45deg); // Chrome, Safari, Opera
    transform: scaleX(-1) rotate(-45deg);
  }
  25% {
    bottom: 32.5%;
    right: 25%;
    -ms-transform: rotate(0deg); // IE 9
    -webkit-transform: scaleX(-1) rotate(0deg); // Chrome, Safari, Opera
    transform: scaleX(-1) rotate(0deg);
  }
  50% {
    bottom: 30%;
    right: 65%;
    -ms-transform: rotate(60deg); // IE 9
    -webkit-transform: scaleX(-1) rotate(60deg); // Chrome, Safari, Opera
    transform: scaleX(-1) rotate(60deg);
  }
  75% {
    bottom: 0%;
    right: 80%;
    -ms-transform: rotate(85deg); // IE 9
    -webkit-transform: scaleX(-1) rotate(85deg); // Chrome, Safari, Opera
    transform: scaleX(-1) rotate(85deg);
  }
  100% {
    bottom: 25%;
    right: 115%;
    -ms-transform: rotate(0deg); // IE 9
    -webkit-transform: scaleX(-1) rotate(0deg); // Chrome, Safari, Opera
    transform: scaleX(-1) rotate(0deg);
  }
}


@media (max-width: $desktop-min) {
  .content-landing {
    margin-top: 5%;
  }
  h1.landing {
    font-size: 1.4rem;
    top: 65%;
    line-height: 1.4rem;
  }

  h1.info {
    font-size: 2.3rem;
    top: 50%;
    line-height: 2.2rem;
  }

  h1.schedule {
    font-size: 1.5rem;
    max-width: 80%;
  }

  em {
    font-size: 1.2rem;
    max-width: 80%;
  }

  h2.landing,
  h3.landing {
    font-size: 1.4rem;
    margin-bottom: 1em;
    padding-bottom: 0;
    color: $white;
  }

  h2.schedule {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 1em;
    padding-bottom: 0;
    left: 5%;
    text-align: left;
  }

    p.schedule {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 1em;
    padding-bottom: 0;
  }

  h2.info,
  p.info {
    font-size: 1.4rem;
    margin-bottom: 1em;
    padding-bottom: 0;
    color: $white;
  }

  p.info,
  h1.info {
    text-align: left;
  }

  p.info {
    left: 5%;
  }

  h1.info {
    margin: 0;
    padding: 0;
  }

  div.description {
    position: relative;
    width: 60%;
    left: -10%;
    top: -80%;
    height: 50%;
    display: block;
    min-width: 50%;
  }

  .banner_contain {
    position: absolute;
    top: 7em;
  }

  .border-right-2 {
    border-color: $transparent;
  }

  .transparent {
    display: inline-block;
  }
}
