@import 'base';
.landing {
  color: $white;
  font-family: $cabin;
}

.header {
  position: relative;
  background: rgba(0, 0, 0, 0);
  height: 20%;
}

h1.landing {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3.7rem;
  font-weight: 700;
  z-index: 3;
  text-transform: uppercase;
}

h1.info {
  position: absolute;
  float: right;
  left: 55%;
  top: 25%;
  width: 45%;
  transform: translateX(-25%) translateY(-50%);
  font-size: 3.7rem;
  font-weight: 700;
  z-index: 3;
  text-transform: uppercase;
  padding: 2%;
  line-height: 3.6rem;
}

p.info {
  position: absolute;
  float: left;
  left: 15%;
  top: 20%;
  width: 35%;
  transform: translateX(-25%) translateY(-50%);
  font-size: 1.7rem;
  font-weight: 500;
  z-index: 3;
  padding: 2%;
  text-align: right;
  line-height: 1.6rem;
}

h2.landing {
  margin: 0;
  padding: 0;
  font-size: 2.1rem;
  text-align: justify;
}

h3.landing {
  font-size: 1.425em;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

div.landing {
  color: $white;
  height: 5em;
  line-height: 3.2em;
  margin: 0 auto;
  padding: 1.5em;
  width: 50%;
}

div.description {
  position: relative;
  width: 20%;
  left: 22.5%;
  top: -55%;
  min-width: 264px;
}

.img_contain {
  width: 95%;
  height: 60%;
  background: $yellow;
  padding-bottom: 0px;
  z-index: 2;
}

#gif2015 {
  position: relative;
  width: 60%;
  height: 100%;
  min-width: 679px;
}

p.landing {
  font-size: 2em;
}

.page {
  // background-image: url('http://cdn.makeagif.com/media/12-27-2015/_3qgDB.gif');
  height: 100%;
  position: relative;
  width: 100%;
  // z-index: 1;
}

.page-landing {
  // background-image: url('http://i.imgur.com/mei5DgU.jpg');
  background-color: $lightblue;
}

.page-info {
  background-color: $red;
}

.page-schedule {
  background-color: $yellow;
}

.transparent {
  background-color: $semi-trans;
  height: 100%;
  position: relative;
  width: 100%;
}

.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-left {
  border-top: solid;
  border-color: black;
  border-width: 5px;
  box-sizing: border-box;
  width: 20%;
  height: 80%;
  margin: 0;
  padding: 0;
  top: 10%;
  left: 10%;
  position: absolute;
  // z-index: 1;
}

.border-right {
  border-top: solid;
  border-color: black;
  border-width: 5px;
  box-sizing: border-box;
  width: 20%;
  height: 80%;
  margin: 0;
  padding: 0;
  top: 10%;
  right: 10%;
  position: absolute;
  // z-index: 1;
}

.border-right-2 {
  border-right: solid;
  border-color: $yellow;
  border-width: 5px;
  box-sizing: border-box;
  width: 10%;
  height: 60%;
  margin: 0;
  padding: 0;
  top: 20%;
  right: 10%;
  position: absolute;
  z-index: 6;
}

.border-u {
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  border-color: black;
  border-width: 5px;
  box-sizing: border-box;
  width: 80%;
  height: 80%;
  margin: 0;
  padding: 0;
  top: 10%;
  left: 10%;
  position: absolute;
  z-index: 0;
}

.half-globe {
  position: absolute;
  width: 50%;
  height: 50%;
  bottom: 0;
  transform: translateX(+50%) translateY(+50%);
  // z-index: 2;
}

.plane {
  position: absolute;
  width: 15%;
  transform: translateX(+50%) translateY(+50%);
  // z-index: 2;
  bottom: 20%;
  right: 5%;
  animation: plane-fly 5s infinite;
}

@keyframes plane-fly {
  0% {
    right: -10%;
  }
  50% {
    bottom: 35%;
    right: 65%;
  }
  100% {
    bottom: 25%;
    right: 115%;
  }
}

#unify-1 {
  position: absolute;
  width: 5px;
  height: 20%;
  background: black;
  top: 90%;
  left: 50%;
  z-index: 100;
}

#unify-2 {
  position: absolute;
  width: 20em;
  height: 5px;
  background: black;
  top: 110%;
  left: 30%;
  z-index: 100;
}

@media (max-width: 970px) {
  h1.landing{
    font-size: 2.3rem;
    top: 65%;
    line-height: 2.2rem;
  }

  h1.info, h1.schedule {
    font-size: 2.3rem;
    top: 50%;
  line-height: 2.2rem;
  }

  h2.landing, h3.landing {
  font-size: 1.1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

  div.description {
    position: relative;
    width: 60%;
    left: 0%;
    top: -70%;
    height: 50%;
    display: block;
    min-width: 50%;
  }

  #gif2015 {
    position: relative;
    width: 100%;
    left: 0%;
    top: -90%;
    dispay: inline-block;
    background-position: center center;
  background-repeat: no-repeat;
  }

  .img_contain {
  width: 100%;
  height: 80%;
  z-index: 2;
}

.border-right-2 {
  border-color: $transparent;
  }

  .transparent {
    display: inline-block;
  }
}
