.nav-logo {
  // background: url('/img/devfest-logo.png');
  background-color: $rust;
  display: block;
  vertical-align: middle;
}

.logo {
  height: 3.6em;
}

a.nav-button {
  background-color: $peach;
  display: block;
  font-size: 1.25em;
  padding: 1em;
}

li {
  float: right;
}

ul {
  background-color: $gray;
}

li, a.nav-button:hover {
  background-color: $rust;
}

.logo-container {
  float: left;
  position: relative;
}

h1 .nav {
  color: $yellow;
  height: inherit;
  margin-top: 1em;
}

.nav-options {
  display: block;
}

.float-left {
  float: left;
}

.nav {
  background: $peach;
  font-family: $cabin;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.active {
  background-color: $green;
}

@media (max-width: 970px) {
  ul {
    float: none;
  }

}
