  <div id="landing" class="page page-landing background-image">
    <div class="transparent">
      <div class="header">
        <h1 class="landing">DevFest 2016</h1>
      </div>
      <div class="border-left"></div>
      <div class="border-right"></div>
      <div class="border-right-2 hide-mobile"></div>
      <div class="border-u"></div>
      <div class="img_contain">
        <img style="display: none" id="gif2015" src="/img/main.gif">

        <div id="land_desc" style="display: none" class="landing description">
        <h2 class="landing">Registration <div class="clear"></div>Coming Soon</h2>
        <h3 class="landing">Sign up to recieve updates on <div class="clear"></div> registration and beyond!</h3>
        <form action="//devfe.us12.list-manage.com/subscribe/post?u=4728f3ea171ba6ddb55862e63&amp;id=205c98523d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <a href="javascript:void(0)" class="button moreinfo" id="moreinfo">More Info</a>
        <a href="javascript:void(0)">
        <form action="//devfe.us12.list-manage.com/subscribe/post?u=4728f3ea171ba6ddb55862e63&amp;id=205c98523d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input style="display: none" name="EMAIL" type="email" id="mce-EMAIL" class="input" placeholder="Your Email Here"></input>
        </a>
        <a id="signup" onclick="showEmail()" href="javascript:void(0)" class="button signup">SignUp</a>
        <a id="submit" style="display: none;" onclick="submitEmail()" href="javascript:void(0)" class="button submit">Submit</a></form>
        <a style="display:none;" href="javascript:void(0)" id="success" class="success">Success!</a>
      </div>
      </div>
    </div>
  </div>
  <div name="page-2" id="info" class="page page-info background-image">
    <div class="nav">
      <div class="nav-options">
        <ul class="nav-list">
          <ul style="float:left;list-style-type:none;" class="left-nav">
            <li><a id="main" class="register nav-logo" href="javascript:void(0)" data-mode="2">
              <img class="logo" src="/img/devfest-logo.png">
            </a></li>
          </ul>
          <li class="mobile-only" id="menu"><a onclick="showNav()" class="register nav-button"><i class="fa fa-bars"></i></a></li>
          <li class="hide-mobile unhide-nav mobile-only"><a onclick="hideNav()" id="exit" class="register nav-button"><i class="fa fa-times"></i></a></li>
          <li class="hide-mobile unhide-nav"><a id="nav_sign" class="register nav-button typeform-share hide-mobile unhide-nav" href="javascript:void(0)" data-mode="2">Sign Up Today!</a></li>
          <li class="hide-mobile unhide-nav"><a id="schedule-link" href="javascript:void(0)" class="register nav-button">
            Schedule
          </a></li>
          </ul>
      </div>
    </div>
    <div class="banner_contain">
      <h1 class="info">Take off <div class="clear"></div>
        <span> Jan 30th - Feb 6th</span>
      </h1>
      <div class="clear"></div>
      <p class="info"> A week of choose-your-own-adventure learning and technology at Columbia University you won't forget!</p>
    </div>
    <img src="/img/bw-globe.svg" class="hide-mobile half-globe">
    <img class="hide-mobile plane" src="/img/plane.png">
  </div>
  <div name="page-3" id="schedule" class="page page-schedule background-image">
    <h1 class="schedule"> More Coming Soon! </h1>
    <p class="schedule">
      Workshops<br>
      Hardware<br>
      Fun<br>
      Speakers<br>
      Food<br>
      Small Groups<br>
      Learning<br>
      Prizes<br>
      Lots of Fun<br>
      & Much Much More</p>
    <h2 class="schedule ">Sat Jan 30th <em>Kickoff</em> <div class="clear"></div> <br>Fri Feb 5th <em>Hackathon </em></h2>
  </div>
