<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="DevFest hosted by ADI is a week-long learning experience at Columbia" />
  <meta name="robots" content="NOODP, index, follow" />
  <meta itemprop="name" content="">
  <meta itemprop="description" content="DevFest hosted by ADI is a week-long learning experience at Columbia">
  <meta itemprop="image" content="">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="DevFest hosted by ADI is a week-long learning experience at Columbia">
  <meta name="twitter:creator" content="">
  <meta name="twitter:image:src" content="">
  <meta name="twitter:domain" content="">

  <!-- Open Graph data (Facebook) -->
  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="/" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="" />

  <!-- Standard Icons -->
  <link rel="icon" type="image/png" href="/img/favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/img/favicon/favicon.ico" sizes="16x16" />
  <link rel="icon" type="image/png" href="/img/favicon/favicon-128.png" sizes="128x128" />

  <!-- Chrome Theme Color -->
  <meta name="theme-color" content="#F9C22E">
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/style.min.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="js/jquery-ui-1.8.23.custom.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', {{ meta.google_analytics_id }}, 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    {{#block "main"}}{{/block}}
</body>
</html>
